<!DOCTYPE html>
<html>

  <head>
    <title>
      Loss Control Tools
    </title>
    <body>
      Where is the loss control tool?
      <img src="https://a23bda44-ac1a-4af3-a295-bda95a0c39ba-00-2o6g6to063frp.janeway.replit.dev/static/banner.jpg" height="50p" width="50p">
      <h2>
        About Loss Control Tools
      <h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consectetur maximus congue. Curabitur eget malesuada felis, sed malesuada sem. Phasellus tristique tempus lorem eget sagittis. Mauris ultrices ultricies eros, id lacinia ligula blandit in. Aliquam erat volutpat. Integer auctor tellus quis nisi interdum facilisis. Fusce gravida neque ac neque tristique pulvinar. Suspendisse tempus ullamcorper neque, nec congue nisi pharetra sed. Etiam vitae ante in augue suscipit pellentesque non in urna. Nunc id convallis risus, id cursus diam. Nulla hendrerit nibh ac sollicitudin sodales.
      </p>
      </h2>
    </body>
  </head>
</html>